.Header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(251, 251, 253, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

.HeaderLogo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.HeaderContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.Header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.Header nav a {
    font-size: 12px;
}

.HeaderShopping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.HeaderContainer button {
    border: none;
    outline: 0;
    background-color: transparent;
}

.SearchOverlay {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);    
}

.SearchOverlay input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 2em;
    text-align: center;
}