:root {
  --color-white: rgb(255, 255, 255);
  --color-grey-light1: rgb(244, 244, 244);
  --color-grey-light2: rgb(198, 198, 198);
  --color-grey-light3: rgb(178, 178, 178);
  --color-grey-light4: rgb(111, 111, 111);
  --color-grey-dark: rgb(55, 55, 46);
  --color-grey-dark2: rgb(20, 20, 16);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100svh;
  padding: 0;
  margin: 0;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-grey-light1);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-grey-dark2);
}

a:hover {
  color: var(--color-grey-dark);
}

img {
  max-width: 100%;
  display: block;
}

main {
  position: relative;
  width: 100%;
  padding: 0 10px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

@media only screen and (max-width:1023px) and (max-device-width:736px) {
 .container {
    max-width: 100%
  }
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-grey-dark2);
}