:root {
  --color-white: rgb(255, 255, 255);
  --color-grey-light1: rgb(244, 244, 244);
  --color-grey-light2: rgb(198, 198, 198);
  --color-grey-light3: rgb(178, 178, 178);
  --color-grey-light4: rgb(111, 111, 111);
  --color-grey-dark: rgb(55, 55, 46);
  --color-grey-dark2: rgb(20, 20, 16);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-height: 100svh;
  padding: 0;
  margin: 0;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -.01em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-grey-light1);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-grey-dark2);
}

a:hover {
  color: var(--color-grey-dark);
}

img {
  max-width: 100%;
  display: block;
}

/* Typography */

.text-white {
  color: var(--color-white) !important;
}

.text-black {
  color: var(--color-grey-dark2) !important;
}

.ribbon-1 {
  font-size: .8em;
  color: #bf4800;
}

.price {
  font-weight: 600;
}


/* Containers */
main {
  position: relative;
  width: 100%;
  padding: 20px 10px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

@media only screen and (max-width:1023px) and (max-device-width:736px) {
  .container {
    max-width: 100%
  }
}


.sticky {
  display: sticky;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}



.gap {
  gap: 1rem;
}

.gap-1 {
  gap: 3rem;
}

.gap-2 {
  gap: 6rem;
}


.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
